<header>
    <!--<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 id="title">Corner Tool</h1>
        </div>
        <div class="col-md-3"></div>
    </div> -->
</header>
<section>
    <div class="row">
        <!--  <div class="userTitle"><h3>Welcome {{ username }}!</h3></div>-->
    </div>
    <div class="row">
        <div class="col-md-6">
            <svg class="img-fluid" width="660" height="660">
            </svg>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div id="skill_menu">
                <div class="row">
                    <div class="skill_row">
                        <div id="skill_title">
                            <h2>Skills</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p id="userID">{{ username }}</p>
        </div>
        <div class="col-md-9"></div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="tutorial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="tutorialName">Welcome {{ username }}</h3>
                </div>
                <div class="modal-body">
                    Welcome to the Corner Tool! This tool is a persistent and dynamic way for you to track “stuff you like” vs. “stuff you’re good at.” First, consider the skills, task, and expectations of your current job. How do you spend your day? How would you like to spend your day? Then, simply click on the 2X2 grid and select a category in the pop-up window. If you’re category isn’t listed, that’s ok – just select “Other”. Once you’ve selected a category, a second screen will appear where you can enter the name of the skill/task/expectation, the years of experience, and a description. When you’re ready, click “Submit” and a circle will appear on the 2x2 grid. Drag the circle to the appropriate location considering how much you “like” this particular item and how much you think you are “good at” it. <br /><br> On the right of the screen, the item you just entered will appear; click the “+” sign to expand and see the associated description. You can also edit or delete the item as you see fit. <br /><br>To add another item, simply click on the 2X2 grid and repeat the process. You can add as many items as you see fit and move them around as often as you like.<br /><br> Enjoy!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="prompt" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modal_title">Create New Point<span></span></h4>
                </div>
                <div class="modal-body">
                    <form class="form" name="init" id="point-modal">
                        <div class="form-group row">
                            <label for="catSelect">Category</label>
                            <select class="form-control" id="catSelect">
                                <option value="" selected="selected"></option>
                                <option value="I_D">Instructional Design</option>
                                <option value="S_D">Software Development</option>
                                <option value="P_M">Project Management</option>
                                <option value="G_D">Graphic Design</option>
                                <option value="B_D">Business Development</option>
                                <option value="Q_A">Quality Assurance</option>
                                <option value="E_A">Enabling Area</option>
                                <option value="L_D">Leadership & Development</option>
                                <option value="D_S">Data Science</option>
                                <option value="skill">Other</option>
                            </select>
                        </div>
                    </form>
                    <!--<form class="form" name="skill_form" id="skill_form" style="display:none">
                            <div class="form-group row">
                                <label for="number-input" class="col-2 col-form-label">Years of experience</label>
                                <div class="col-10">
                                    <input class="form-control" type="number" value="2" id="number-input">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="skillSelect">Skill</label>
                                <div class="col-10" id="selectHead">
                                    <input class="form-control" type="text" value="" id="skillSelect">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="prioritySelect">Priority</label>
                                <select class="form-control" id="prioritySelect">
                                    <option>High</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label for="descriptionTextarea">Description</label>
                                <textarea class="form-control" id="exampleTextarea" placeholder="Write a short description describing your experience with this skill" rows="3"></textarea>
                            </div>
                            <button type="submit" id="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
                        </form> -->
                    <form class="form" name="I_D_form" id="I_D_form" style="display:none">
                        <div class="form-group row">
                            <label for="number-input" class="col-2 col-form-label">Years of experience</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="2" id="number-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="I_DSelect">Skill</label>
                            <div class="col-10" id="selectHead">
                                <input class="form-control" type="text" value="" id="I_DSelect">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="prioritySelect">Priority</label>
                            <select class="form-control" id="prioritySelect">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="descriptionTextarea">Description</label>
                            <textarea class="form-control" id="exampleTextarea" placeholder="Write a short description describing your experience with this skill" rows="3"></textarea>
                        </div>
                        <button type="submit" id="submitI_D" class="btn btn-default" data-dismiss="modal">Submit</button>
                    </form>
                    <form class="form" name="S_D_form" id="S_D_form" style="display:none">
                        <div class="form-group row">
                            <label for="number-input" class="col-2 col-form-label">Years of experience</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="2" id="number-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="S_DSelect">Skill</label>
                            <div class="col-10" id="selectHead">
                                <input class="form-control" type="text" value="" id="S_DSelect">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="prioritySelect">Priority</label>
                            <select class="form-control" id="prioritySelect">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="descriptionTextarea">Description</label>
                            <textarea class="form-control" id="exampleTextarea" placeholder="Write a short description describing your experience with this skill" rows="3"></textarea>
                        </div>
                        <button type="submit" id="submitS_D" class="btn btn-default" data-dismiss="modal">Submit</button>
                    </form>
                    <form class="form" name="P_M_form" id="P_M_form" style="display:none">
                        <div class="form-group row">
                            <label for="number-input" class="col-2 col-form-label">Years of experience</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="2" id="number-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="P_MSelect">Skill</label>
                            <div class="col-10" id="selectHead">
                                <input class="form-control" type="text" value="" id="P_MSelect">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="prioritySelect">Priority</label>
                            <select class="form-control" id="prioritySelect">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="descriptionTextarea">Description</label>
                            <textarea class="form-control" id="exampleTextarea" placeholder="Write a short description describing your experience with this skill" rows="3"></textarea>
                        </div>
                        <button type="submit" id="submitP_M" class="btn btn-default" data-dismiss="modal">Submit</button>
                    </form>
                    <form class="form" name="G_D_form" id="G_D_form" style="display:none">
                        <div class="form-group row">
                            <label for="number-input" class="col-2 col-form-label">Years of experience</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="2" id="number-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="G_DSelect">Skill</label>
                            <div class="col-10" id="selectHead">
                                <input class="form-control" type="text" value="" id="G_DSelect">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="prioritySelect">Priority</label>
                            <select class="form-control" id="prioritySelect">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="descriptionTextarea">Description</label>
                            <textarea class="form-control" id="exampleTextarea" placeholder="Write a short description describing your experience with this skill" rows="3"></textarea>
                        </div>
                        <button type="submit" id="submitG_D" class="btn btn-default" data-dismiss="modal">Submit</button>
                    </form>
                    <form class="form" name="B_D_form" id="B_D_form" style="display:none">
                        <div class="form-group row">
                            <label for="number-input" class="col-2 col-form-label">Years of experience</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="2" id="number-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="B_DSelect">Skill</label>
                            <div class="col-10" id="selectHead">
                                <input class="form-control" type="text" value="" id="B_DSelect">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="prioritySelect">Priority</label>
                            <select class="form-control" id="prioritySelect">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="descriptionTextarea">Description</label>
                            <textarea class="form-control" id="exampleTextarea" placeholder="Write a short description describing your experience with this skill" rows="3"></textarea>
                        </div>
                        <button type="submit" id="submitB_D" class="btn btn-default" data-dismiss="modal">Submit</button>
                    </form>
                    <form class="form" name="Q_A_form" id="Q_A_form" style="display:none">
                        <div class="form-group row">
                            <label for="number-input" class="col-2 col-form-label">Years of experience</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="2" id="number-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Q_ASelect">Skill</label>
                            <div class="col-10" id="selectHead">
                                <input class="form-control" type="text" value="" id="Q_ASelect">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="prioritySelect">Priority</label>
                            <select class="form-control" id="prioritySelect">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="descriptionTextarea">Description</label>
                            <textarea class="form-control" id="exampleTextarea" placeholder="Write a short description describing your experience with this skill" rows="3"></textarea>
                        </div>
                        <button type="submit" id="submitQ_A" class="btn btn-default" data-dismiss="modal">Submit</button>
                    </form>
                    <form class="form" name="E_A_form" id="E_A_form" style="display:none">
                        <div class="form-group row">
                            <label for="number-input" class="col-2 col-form-label">Years of experience</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="2" id="number-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="E_ASelect">Skill</label>
                            <div class="col-10" id="selectHead">
                                <input class="form-control" type="text" value="" id="E_ASelect">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="prioritySelect">Priority</label>
                            <select class="form-control" id="prioritySelect">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="descriptionTextarea">Description</label>
                            <textarea class="form-control" id="exampleTextarea" placeholder="Write a short description describing your experience with this skill" rows="3"></textarea>
                        </div>
                        <button type="submit" id="submitE_A" class="btn btn-default" data-dismiss="modal">Submit</button>
                    </form>
                    <form class="form" name="L_D_form" id="L_D_form" style="display:none">
                        <div class="form-group row">
                            <label for="number-input" class="col-2 col-form-label">Years of experience</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="2" id="number-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="L_DSelect">Skill</label>
                            <div class="col-10" id="selectHead">
                                <input class="form-control" type="text" value="" id="L_DSelect">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="prioritySelect">Priority</label>
                            <select class="form-control" id="prioritySelect">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="descriptionTextarea">Description</label>
                            <textarea class="form-control" id="exampleTextarea" placeholder="Write a short description describing your experience with this skill" rows="3"></textarea>
                        </div>
                        <button type="submit" id="submitL_D" class="btn btn-default" data-dismiss="modal">Submit</button>
                    </form>
                    <form class="form" name="D_S_form" id="D_S_form" style="display:none">
                        <div class="form-group row">
                            <label for="number-input" class="col-2 col-form-label">Years of experience</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="2" id="number-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="D_SSelect">Skill</label>
                            <div class="col-10" id="selectHead">
                                <input class="form-control" type="text" value="" id="D_SSelect">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="prioritySelect">Priority</label>
                            <select class="form-control" id="prioritySelect">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="descriptionTextarea">Description</label>
                            <textarea class="form-control" id="exampleTextarea" placeholder="Write a short description describing your experience with this skill" rows="3"></textarea>
                        </div>
                        <button type="submit" id="submitD_S" class="btn btn-default" data-dismiss="modal">Submit</button>
                    </form>
                    <form class="form" name="skill_form" id="skill_form" style="display:none">
                        <div class="form-group row">
                            <label for="number-input" class="col-2 col-form-label">Years of experience</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="2" id="number-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="skillSelect">Skill</label>
                            <div class="col-10" id="selectHead">
                                <input class="form-control" type="text" value="" id="skillSelect">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="prioritySelect">Priority</label>
                            <select class="form-control" id="prioritySelect">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="descriptionTextarea">Description</label>
                            <textarea class="form-control" id="exampleTextarea" placeholder="Write a short description describing your experience with this skill" rows="3"></textarea>
                        </div>
                        <button type="submit" id="submitskill" class="btn btn-default" data-dismiss="modal">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</section>