.addItemContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;

    .modal {
        display: block;

        .modal-dialog {
            max-width: 700px;
        }

        .checkbox {
            margin-left: 5px;
            color: #007bff;
            cursor: pointer;
        }
    }
}