@import "grid.scss";
@import "list.scss";
@import "additem.scss";

#applicationRoot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;

    #mainNav {
        background: #5d5179;
        margin-bottom: 10px;
        
        a {
            color: white;
        }
    }

    .masterContainer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}